###### Link - https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/09-Objects%20and%20Data%20Structures%20Assessment%20Test.ipynb

###### ANSWER THE FOLLOWING QUESTIONS:

###### WHAT ARE NUMBERS?

NUMBERS ARE INTEGERS THAT ARE USED FOR MATHEMATICAL OPERATIONS AND CAN BE ASSIGNED TO VARIABLES.

###### WHAT ARE STRINGS?

STRINGS ARE BASICALLY WORDS OR SENTENCES WHICH CAN ALSO BE ASSIGNED TO A VARIABLE.

###### WHAT ARE LISTS?

LISTS ARE BASICALLY A LIST CONTAINING STRINGS, NUMBERS, OR BOTH. YOU CAN CHANGE VALUES OF THE ELEMENTS.

###### WHAT ARE TUPLES?

BASICALLY LISTS, BUT ONCE YOU HAVE ASSIGNED AN ELEMENT TO A TUPLE, YOU CANNOT CHANGE ITS VALUE.

###### WHAT ARE DICTIONARIES?

DICTIONARIES ARE UNORDERED MAPPINGS FOR STORING OBJECTS.

## NUMBERS

###### WRITE AN EQUATION THAT USES MULTIPLICATION, DIVISION, AN EXPONENT, ADDITION, AND SUBTRACTION THAT IS EQUAL TO 100.25.

In [10]:
100 * 0 ** 0 + 0.25 - 0.25 / 0.5 + 0.5

100.25

#### ANSWER THESE 3 QUESTIONS WITHOUT TYPING CODE. THEN TYPE CODE TO CHECK YOUR ANSWER.

###### WHAT IS THE VALUE OF THE EXPRESSION 4 * (6 + 5)?

44

In [12]:
4 * (6 + 5)

44

###### WHAT IS THE VALUE OF THE EXPRESSION 4 * 6 + 5?

29

In [13]:
4 * 6 + 5

29

###### WHAT IS THE VALUE OF THE EXPRESSION 4 + 6 * 5?

34

In [14]:
4 + 6 * 5

34

###### WHAT IS THE TYPE OF THE RESULT OF THE EXPRESSION  3 + 1.5 + 4?

FLOATING POINT

###### WHAT WOULD YOU USE TO FIND A NUMBER'S SQUARE ROOT, AS WELL AS ITS SQUARE?

ASTERISK

###### SQUARE ROOT:

In [18]:
100 ** 0.5

10.0

###### SQUARE

In [19]:
2 ** 3

8

## STRINGS

###### GIVEN THE STRING 'hello' , GIVE AN INDEX COMMAND THAT RETURNS 'e'.

In [20]:
s = 'hello'
s[1]

'e'

###### REVERSE THE STRING USING SLICING.

In [28]:
s[::-1]

'olleh'

###### GIVEN THE STRING 'hello' , GIVE TWO METHODS OF PRODUCING THE LETTER 'o' USING INDEXING.

In [33]:
s[4]

'o'

In [34]:
s[-1]

'o'

## LISTS

###### BUILD THIS LIST [0,0,0] IN TWO SEPERATE WAYS.

In [4]:
mylist = [0,0,0]   # METHOD ONE

In [5]:
mylist

[0, 0, 0]

In [6]:
[0]*3    # METHOD TWO

[0, 0, 0]

###### REASSIGN 'hello' IN THIS NESTED STATEMENT TO SAY 'goodbye' INSTEAD:

In [7]:
list3 = [1,2,[3,4,'hello']]

In [8]:
print(list3)

[1, 2, [3, 4, 'hello']]

In [10]:
list3 [2][2] = 'goodbye'

In [11]:
list3

[1, 2, [3, 4, 'goodbye']]

###### SORT THE LIST BELOW:

In [12]:
list4 = [5,3,4,6,1]

In [15]:
list4.sort()

In [16]:
list4

[1, 3, 4, 5, 6]

## DICTIONARIES

###### USING KEYS AND INDEXING, GRAB THE 'hello' FROM THE FOLLOWING DICTIONARIES:

In [19]:
d = {'simple_key':'hello'}   # DICTIONARY 1
# Grab 'hello'

In [20]:
d['simple_key']

'hello'

In [22]:
d = {'k1':{'k2':'hello'}}   # DICTIONARY 2
# Grab 'hello'

In [32]:
d ['k1']['k2']

'hello'

In [35]:
# Getting a little trickier
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}   # DICTIONARY 3

# Grab hello

In [38]:
d['k1'][0]['nest_key'][1]

['hello']

In [3]:
# This will be hard and annoying!                                     
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}   # DICTIONARY 4 (LAST ONE!)

In [13]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

###### CAN YOU SORT A DICTIONARY? WHY OR WHY NOT?

YOU CANNOT SORT A DICTIONARY BECAUSE A DICTIONARY OBJECT HAS NO ATTRIBUTE SUCH AS 'sort'.

## TUPLES

###### WHAT IS THE MAJOR DIFFERENCE BETWEEN TUPLES AND LISTS?

TUPLES ARE IMMUTABLE!

###### HOW DOES THEE CREATE THY TUPLE?

STEP 1:

CREATE A TUPLE.

In [16]:
mytuple = (1,2,3,4,5,6,7,8,9)

STEP 2:

TRY TO CHANGE ONE OF THE VALUES, AND GUESS WHAT, YOU WON'T BE ABLE TO! (OBVIOUSLY)

In [17]:
mytuple[2] = 100

TypeError: 'tuple' object does not support item assignment

SEE?

## SETS

###### WHAT IS UNIQUE ABOUT A SET?

THEY DON'T ALLOW DUPLICATE ITEMS!

###### USE A SET TO FIND THE UNIQUE VALUES BELOW.

In [18]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [21]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## BOOLEANS

#### WHAT WILL BE THE RESULTING BOOLEAN OF THE FOLLOWING PIECES OF CODE ( ANSWER FIRST, THEN CHECK YOUR ANSWER BY TYPING CODE!)

###### 2 > 3

FALSE

In [22]:
2 > 3

False

###### 3 <= 2

FALSE

In [23]:
3 <= 2

False

###### 3 == 2.0

FALSE

In [24]:
3 == 2.0

False

###### 3.0 == 3

TRUE

In [25]:
3.0 == 3

True

###### 4**0.5 != 2

FALSE

In [27]:
4**0.5 != 2

False

###### FINAL QUESTION: WHAT IS THE BOOLEAN OUTPUT OF THE CELL BLOCK BELOW?

In [30]:
# two nested lists
# l_one = [1,2,[3,4]]
# l_two = [1,2,{'k1':4}]  THIS IS PUT IN COMMENTS BECAUSE IF IT ISN'T, THIS WILL REVEAL THE ANSWER.

# True or False?
# l_one[2][0] >= l_two[2]['k1']

FALSE